<!DOCTYPE html>
<html>
  <head>
    <title>CancancanExamples</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav>
        <ul>
          <li><%= link_to "Início", root_path %></li>
          <% if can? :read, Task %>
            <li><%= link_to "Tarefas", tasks_path %></li>
          <% end %>
          <% if can? :read, User %>
            <li><%= link_to "Usuários", users_path %></li>
          <% end %>
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    <% end -%>
    <%= yield %>
  </body>
</html>
